absl-py==2.5.0
asttokens==3.0.1
attrs==26.1.0
category_encoders==2.10.0
certifi==2026.7.22
charset-normalizer==3.4.9
colorama==0.4.6
comm==0.2.3
debugpy==1.8.21
decorator==5.3.1
dm-tree==0.1.10
docstring_parser==0.18.0
einops==0.8.2
etils==1.14.0
executing==2.2.1
fsspec==2026.6.0
googleapis-common-protos==1.75.0
idna==3.18
immutabledict==4.3.1
ipykernel==7.3.0
ipython==9.15.0
ipython_pygments_lexers==1.1.1
jedi==0.20.0
joblib==1.5.3
jupyter_client==8.9.1
jupyter_core==5.9.1
lightgbm==4.7.0
matplotlib-inline==0.2.2
narwhals==2.24.0
nest-asyncio2==1.7.2
numpy==2.5.1
packaging==26.2
pandas==3.0.5
parso==0.8.7
patsy==1.0.2
platformdirs==4.10.0
polars==1.43.2
polars-runtime-32==1.43.2
promise==2.3
prompt_toolkit==3.0.52
protobuf==7.35.1
psutil==7.2.2
pure_eval==0.2.3
pyarrow==25.0.0
Pygments==2.20.0
python-dateutil==2.9.0.post0
pyzmq==27.1.0
requests==2.34.2
scikit-learn==1.9.0
scipy==1.18.0
simple-parsing==0.1.8
six==1.17.0
stack-data==0.6.3
statsmodels==0.14.6
tensorflow-datasets==4.9.10
tensorflow-metadata==1.21.0
termcolor==3.3.0
threadpoolctl==3.6.0
toml==0.10.2
tornado==6.5.7
tqdm==4.69.0
traitlets==5.15.1
typing_extensions==4.16.0
tzdata==2026.3
urllib3==2.7.0
wcwidth==0.8.2
wrapt==2.2.2
xgboost==3.3.0
zipp==4.1.0
